*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box; /* tamanho da caixa se modela baseado no conteúdo interno */
    font-size: 100%;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

body{
    background-color: #F0F2F5;
    text-align: center;
    display: block;
}

li{
    list-style: none;
    margin-right: 10px;
}

a:hover{
    text-decoration: underline;
}

/* IDs */

/* Div PRINCIPAL */

#principal{
    display: flex;
    padding-bottom: 132px;
    padding-top: 80px;
    justify-content: center;
}

/* LOGINS */

#logins{
    text-align: left;
    padding-right: 190px;
    width: 390px;
}

#logins img{
    width: 176px;
}

#logins h2{
    text-align: left;
    font-size: 28px;
    font-weight: 300;
    padding-left: 19px;
}

#logins p{
    font-size: 15px;
    margin-top: 5px;
    color: #606770;
    padding-left: 19px;
}

#login-icons{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-left: 19px;
}

.icons{
    display: block;
    border-radius: 5px;
    transition-timing-function: ease-in-out;
}

.icons:hover{
    box-shadow: 3px 3px 16px rgba(0, 0, 0, .1);
    transition-property: all;
    cursor: pointer;
    transition-duration:0.5s;
}

.icons img{
    border-radius: 5px 5px 0px 0px;
}

.name{
    background-color: white;
    font-size: 16px;
    color: #606770;
    text-align: center;
    padding: 12px;
    border-radius: 0px 0px 5px 5px;
}

/* FOMULÁRIO */

#formulario-login{
    background-color: white;
    margin-top: 50px;
    width: 396px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
}

.text_box{
    margin-top: 15px;
    width: 360px;
    height: 50px;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    outline: none;
    padding-left: 10px;
}

.text_box:focus{
    border: 1px solid  #1877f2;
}

#bt_entrar{
    background-color: #1877f2;
    margin-top: 15px;
    padding: 14px 150px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    outline: none;
}

#bt_entrar:hover{
    background-color: #186fe0;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    cursor: pointer;
}

#esqueceu_pw{
    margin-top: 20px;
    font-size: 14px;
}

#esqueceu_pw a{
    color: #1877f2;
}

#hr_formulario{
    margin: 10px 22px;
    border-top: 1px solid #d3d3d3;
}

#criar_conta{
    background-color: #36a420;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 14px 10px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    outline: none;
}

#criar_conta:hover{
    background-color: #2f941b;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    cursor: pointer;
}

#description{
    margin-top: 20px;
    font-size: 14px;
}

/* FOOTER */

#_footer{
    background-color: white;
    text-align: center;
    height: 200px;
    padding: 0px 100px;
}

#hr_footer{
    margin-top: 5px;
    border-top: 1px solid #d3d3d3;
}

/* IDIOMAS */

#idiomas{
    padding-top: 10px;
    display: flex;
    font-size: 12px;
    color:#8a8d91;
    justify-content: center;
}

#adicionar_idioma{
    padding: 0px 10px;
    font-size: 14px;
    color: #8a8d91; 
    border: 1px solid#c7c8c9;
    margin-left: 10px;
}

/* BOX LINKS */

#box_links{
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.6;
    color:#8a8d91;
}

#box_links a{
    color: inherit;
    padding-right: 5px;
}
